// colors
$background-main: #000;
$color-main: #c5993b;

// typography
$font-main: "Roboto", "Open Sans", "Helvetica Neue", "DejaVu Sans", "Arial", sans-serif;
$font-monospace: 'Source Code Pro', monospace;

// borders
$border-radius-base: 5px;
$border-radius-small: 4px;
$border-radius-large: 6px;
