@import "font-awesome/font-awesome";

@import "reset";
@import "brand";
@import "forms";
@import "notifications";

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;

  font-size: 15px;
  font-family: $font-main;

  background: $background-main;
}

a {
  color: $color-main;
  text-decoration: none;

  &:hover,
  &:active {
    color: $color-main;
  }
}

code {
  background: #d1e751;
  padding: 6px 10px;
  border-radius: $border-radius-small;
  font-size: 14px;
  font-family: $font-monospace;
}

// dropdown menus. just layout, style is defined later
.dropdown {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  border-radius: 0 0 $border-radius-small $border-radius-small;
  cursor: default;
  transition: background .15s;

  // dropdown menu entries
  & > li {

    // entry content: either links or text
    & > a,
    & > span {
      display: block;
      padding: 4px 8px;
    }
  }

  &:hover {
    display: block;
    z-index: 10;
  }
}

.menu {
  position: relative;
}

.menu:hover > ul {
  display: block;
}

.site-header,
.site-footer {
  position: relative;
  width: 100%;
  height: 150px;
  background: #000;
  color: $color-main
}

.site-header {
  height: 60px;
  border-bottom: 1px solid #c5993b;

  .create-account {
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 2rem);
    max-width: 20%;
    padding: 1rem;
  }

  .user-container {
    float: right;
  }

  .notifications {
    float: left;
    border-left: 1px solid #c5993b;
  }

  .user {
    float: left;
    border-left: 1px solid #c5993b;
    min-width: 150px;

    .menu {
      padding: 10px;
      border-radius: 0 0 0 $border-radius-small;
      cursor: pointer;
      transition: background .15s;

      &:hover {
        background: rgba(197, 154, 59, 0.2);

        .dropdown-arrow {
          opacity: 1;
        }

        .dropdown {
          border: 1px solid #C5993B;
          border-top: 0;
          border-right: 0;
        }
      }

      .dropdown-arrow {
        opacity: .8;
        vertical-align: middle;
        line-height: 40px;
        margin-left: 10px;
        font-size: 1.1rem;
        transition: opacity .15s
      }

      .dropdown {
        left: -1px;
        border-radius: 0 0 0 $border-radius-small;
        text-align: right;
        background: #281f0b;

        & > li a:hover {
          background: rgba(255, 255, 255, .15)
        }
      }

      .username {
        vertical-align: middle;
        line-height: 40px;
        margin: 0 10px;
      }
    }

    .profile-image {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      overflow: hidden;
      float: right;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .logo {
    text-align: center;
    float: left;
    height: 60px;
    border-right: 1px solid #c5993b;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: calc(100% - 20px);
      padding: 10px;
    }

    figcaption {
      color: transparent
    }
  }
}

.main-navigation {
  position: relative;
  height: 100%;
  float: left;

  ul {
    margin: 0;
    padding: 0;
    text-align: center;

    & > li {
      display: inline-block;

      a {
        display: block;
        line-height: 60px;
        padding: 0 2rem;
        text-decoration: none;
        color: $color-main;
        text-shadow: -1px -1px #000;

        &:hover {
          background: #222;
          color: #ad842d;
        }

        i {
          margin: 0 10px 0 0;
        }
      }

      & + li > a {
        border-left: 1px solid #c5993b;
      }

      &:first-child > a {
        border-radius: 3px 0 0 3px;
      }

      &:last-child > a {
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

main[role=main] {
  position: relative;
  max-width: 80%;
  margin: 0 auto;
  padding: 1rem 0;

  color: rgba(255, 255, 255, .75);
}

.site-footer {
  width: 60%;
  margin-top: 2rem;
  padding: 0 20%;
  border-top: 1px solid rgba(197, 153, 59, .2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  a {
    display: block;
    width: calc(100% / 3);
    padding: 4px 0;
    text-align: center;
  }
}

@media screen and (max-width: 970px) {
  .site-header .logo {
    figcaption {
      display: none;
    }
  }

  .site-header .user {
    .credits {
      display: none;
    }
  }
}

@media screen and (max-width: 630px) {
  .site-header {
    height: initial;

    .user {
      position: relative;
      height: initial;

      .menu {
        .dropdown-arrow {
          display: none;
        }

        .dropdown {
          display: inline-block;
          float: left;
          background: none;

          li {
            display: inline-block;
            float: left;

            a, span {
              border-radius: $border-radius-base;

              &:hover {
                background: initial;
              }
            }
          }
        }

        &:hover {
          background: initial;
        }
      }
    }

    .main-navigation ul {
      padding: 0;

      li {

        display: block;

        a {
          border: 0;
          border-bottom: 1px solid black;
          box-shadow: none;
          border-radius: 0;
        }
      }
    }
  }
}

@import "auctions";
@import "user";
